<a href="https://colab.research.google.com/github/Villgarc/Numpy-notes/blob/main/Numpy_notes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

## **1. What is a numpy array ?**

A numpy array is a data structure provided by the numpy library. These arrays are grids of values of the same type. To create an array we use the np.array function along a list or nested list. If we set the dtype parameter to a datatype, the array will only contain values of that type.

In [18]:
np.array([2,3,-3,256,128,129,256],dtype=np.int8)

array([   2,    3,   -3,    0, -128, -127,    0], dtype=int8)

In [14]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

At the cell above the dtype is set to np.int8, which means that the array will only contain values from -128 to 127. There are other types included in this library, for more information check out the numpy's documentation about the dtypes.

https://numpy.org/devdocs/user/basics.types.html

In [7]:
np.array(['f','hello','1234'],dtype=str)

array(['f', 'hello', '1234'], dtype='<U5')

To determine the type of an array, the **dtype** attribute is used.

In [13]:
np.array([23,5,45,45,2],dtype='f').dtype

dtype('float32')

If we use nested lists to create arrays, the result is known as a N-dimensional array or ndarray. In numpy, dimensions are known as axes. These axes are obtained using the shape attribute.

In [19]:
array1 = np.array([[334,5465,654,989],[874,595,732,455]])
array1

array([[ 334, 5465,  654,  989],
       [ 874,  595,  732,  455]])

In [21]:
array1.shape # Which means that the array has 2 rows and 4 columns

(2, 4)

## **2.Useful functions to create arrays**

The np.zeros function creates an array of the given size filled with 0's whereas the np.ones function does the same but filling the array with 1's.

In [22]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [23]:
np.zeros([2,3])

array([[0., 0., 0.],
       [0., 0., 0.]])

In [25]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [24]:
np.ones([2,3,4])

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

Numpy has a function called arange that generates a range of elements. The first parameter of the function is the lowest number of the range,the second parameter is the greatest number of the range and the last parameter corresponds to the step size. If the second and third parameters are removed, the function generates a range of number from zero to the given number.

In [26]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [27]:
np.arange(1,7)

array([1, 2, 3, 4, 5, 6])

In [29]:
np.arange(1,7,2)

array([1, 3, 5])

The np.linspace function creates an array with linearly spaced values, that is, it creates an array of floating values within the specified limits.

This function has several parameters. 

- The first parameter is the starting value of the sequence whilst the second parameter is the ending value. 
- The num parameter sets the number of values that will be generated.
- The retstep parameter returns the stepsize along the array if it is set to True.
- The endpoint parameter establishes wheter the stop value would be the last elemenet of the array or not. Its default value is True.

In [38]:
np.linspace(0,50)

array([ 0.        ,  1.02040816,  2.04081633,  3.06122449,  4.08163265,
        5.10204082,  6.12244898,  7.14285714,  8.16326531,  9.18367347,
       10.20408163, 11.2244898 , 12.24489796, 13.26530612, 14.28571429,
       15.30612245, 16.32653061, 17.34693878, 18.36734694, 19.3877551 ,
       20.40816327, 21.42857143, 22.44897959, 23.46938776, 24.48979592,
       25.51020408, 26.53061224, 27.55102041, 28.57142857, 29.59183673,
       30.6122449 , 31.63265306, 32.65306122, 33.67346939, 34.69387755,
       35.71428571, 36.73469388, 37.75510204, 38.7755102 , 39.79591837,
       40.81632653, 41.83673469, 42.85714286, 43.87755102, 44.89795918,
       45.91836735, 46.93877551, 47.95918367, 48.97959184, 50.        ])

In [39]:
np.linspace(0,50,num=10)

array([ 0.        ,  5.55555556, 11.11111111, 16.66666667, 22.22222222,
       27.77777778, 33.33333333, 38.88888889, 44.44444444, 50.        ])

In [41]:
np.linspace(0,50,num=20,endpoint=False)

array([ 0. ,  2.5,  5. ,  7.5, 10. , 12.5, 15. , 17.5, 20. , 22.5, 25. ,
       27.5, 30. , 32.5, 35. , 37.5, 40. , 42.5, 45. , 47.5])

In [42]:
np.linspace(0,50,num=20,endpoint=False,retstep=True)

(array([ 0. ,  2.5,  5. ,  7.5, 10. , 12.5, 15. , 17.5, 20. , 22.5, 25. ,
        27.5, 30. , 32.5, 35. , 37.5, 40. , 42.5, 45. , 47.5]), 2.5)

## **3.Basic operations with arrays**

### **Sorting**

In order to sort an unordered array we can simply use np.sort()

In [44]:
unsorted_array = np.array([2,5,6,56,76,4,3,1,34,412,34,5,21,],dtype=np.int16)
unsorted_array

array([  2,   5,   6,  56,  76,   4,   3,   1,  34, 412,  34,   5,  21],
      dtype=int16)

In [45]:
np.sort(unsorted_array)

array([  1,   2,   3,   4,   5,   5,   6,  21,  34,  34,  56,  76, 412],
      dtype=int16)

### **Concatenation**

Multiple arrays can be concatenated with the np.concatenate function.

In [47]:
array1 = np.array([4.5,6.5,0,9])
array2 = np.array([5.57,4,54.4,39])
array3 = np.array([4.2,34,89.6,71])
np.concatenate((array1,array2,array3))

array([ 4.5 ,  6.5 ,  0.  ,  9.  ,  5.57,  4.  , 54.4 , 39.  ,  4.2 ,
       34.  , 89.6 , 71.  ])

Those arrays do not necessary need to have the same lenght

In [48]:
array1 = np.array([4.5,6.5,0,9,56])
array2 = np.array([5.57,4,54.4])
array3 = np.array([4.2,34,89.6,71])
np.concatenate((array1,array2,array3))

array([ 4.5 ,  6.5 ,  0.  ,  9.  , 56.  ,  5.57,  4.  , 54.4 ,  4.2 ,
       34.  , 89.6 , 71.  ])

The concatenation works even with different dtypes.

In [49]:
array1 = np.array([4.5,6.5,0,9,56])
array2 = np.array(['434','bananas','apple','tomato'])
array3 = np.array([1,2,3,4,4,2])
np.concatenate((array1,array2,array3))

array(['4.5', '6.5', '0.0', '9.0', '56.0', '434', 'bananas', 'apple',
       'tomato', '1', '2', '3', '4', '4', '2'], dtype='<U32')

The concatenation also works for arrays of different dimensions as long as they have at least one common dimension.

In [57]:
array1 = np.array([[1,2,3],[1,2,3]])
array2 = np.array([[4,5,6]])
np.concatenate((array1,array2),axis=0) # This line concatenates the arrays at the first axis.

array([[1, 2, 3],
       [1, 2, 3],
       [4, 5, 6]])

In [55]:
array1.shape

(2, 3)

In [56]:
array2.shape

(1, 3)

### **Matrix multiplication and dot product**

The dot product is defined with the @ operator and the dot procut is defined by np.dot()

In [60]:
A = np.array([[1,2,3],[4,5,6]])
B = np.array([[2,1,1],[0,2,2],[2,3,1]])
A @ B

array([[ 8, 14,  8],
       [20, 32, 20]])

In [61]:
np.dot([1,2],[2,3])

8